@using SitecoreSSL.Models;
<link href="~/Content/ssl.css" rel="stylesheet" />
<a href="@Model.PageSpeedURL" class="button" target="_blank">Page Speed Test</a><br /><br />
<a href="@Model.LoadURL" class="button" target="_blank">Load Test</a><br /><br />
<a href="@Model.URL" class="button" target="_blank">SSL Test</a><br /><br />
<a href="@Model.BrowserURL" class="button" target="_blank">Browser Test</a><br /><br />
<a href="@Model.SEOURL" class="button" target="_blank">SEO Test</a><br /><br />
<a href="@Model.DigitalURL" class="button" target="_blank">Digital Test</a><br /><br />